<mat-card>
    <mat-card-content>
       <mat-toolbar class="header">LOGIN</mat-toolbar>
    <form [formGroup]='loginForm'  class="myForm"  >
    <!-- <mat-grid-list cols="2"  rowHeight="400px">
        <mat-grid-tile> -->
            <div class="loginControls">
                <input type="hidden" formControlName="$key">
                <mat-form-field appearance="fill" >
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" required  placeholder="example@gmail.com">
                    <mat-error>Invalid Email Address</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>Password:</mat-label>
                    <input matInput   [type]="hide ? 'password' : 'text'" formControlName="password"  name="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                <mat-error *ngIf="loginForm.get('password').errors?.required">
                    Required password
                </mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  placeholder="*******">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field> -->
            <div >
            <button mat-raised-button  [disabled]="loginForm.invalid"  color="primary" type="submit" (click)="logIn()" >login</button>
        </div>
    </div>

               
        <!-- </mat-grid-tile>
    </mat-grid-list> -->
</form>
</mat-card-content>
</mat-card>
